footer {
    background-color: $myOrange;
    padding: 1.5rem;
    text-align: center;
    color: $darkBlue;
    font-size: 1.2rem;

    p {
        font-weight: 700;
    }

    a {
        background-color: $darkBlue;
        color: $myOrange;
        font-family: 'Bangers', cursive;
        text-decoration: none;
        padding: .5rem .8rem;
        display: inline-block;
        margin-left: 1rem;
        border-radius: 50%;
    }

    a:hover {
        background-color: $brightBlue;
        color: $darkBlue;
    }
} 