.large-hero {
    display: grid;
    grid-template-columns: 1fr;

    &__image {
        grid-column: 1;
        grid-row: 1;

        img {
            display: block;
        }
    }

    &__text-content {
        align-self: start;
        grid-column: 1;
        grid-row: 1;
        text-align: start;
        margin-left: .625rem;

        @mixin atSmall {
            margin-left: 1.25rem;
        }

        @mixin atMedium {
            text-align: end;
            margin-right: .625rem;
        }

        @mixin atMidLarge {
            margin-top: 2rem;
            margin-right: 1.25rem;
        }

        @mixin atLarge {
            margin-right: 3.125rem;
        }

        @mixin atVeryLarge {
            margin-right: 6.25rem;
            margin-top: 6.25rem;
        }
    }

    &__title {
        color: $darkBlue;
        font-size: 1.75rem;
        font-family: 'Bangers', cursive;

        @mixin atSmall {
            font-size: 2rem;
        }

        @mixin atMedium {
            color: $myOrange;
            text-shadow: 3px 3px $darkBlue;
        }

        @mixin atMidLarge {
            font-size: 2.75rem;
        }

        @mixin atLarge {
            font-size: 5rem;
        }
    }

    &__subtitle {
        color: $myOrange;
        font-size: 1.2rem;
        font-family: 'Bangers', cursive;

        @mixin atSmall {
            font-size: 1.5rem;
        }

        @mixin atMedium {
            color: $darkBlue;
            font-size: 1.3rem;
        }

        @mixin atMidLarge {
            font-size: 1.75rem;
            color: $midBlue;
        }

        @mixin atLarge {
            font-size: 2.5rem;
            color: $myOrange;
            text-shadow: 2px 2px $darkBlue;
        }
    }

    &__description {
        color: $midBlue;
        font-size: .9rem;
        font-weight: 500;
        max-width: 10rem;
        margin-right: auto;

        @mixin atSmall {
            font-size: 1.1rem;
        }

        @mixin atMedium {
            margin-left: auto;
            margin-right: 10px;
        }

        @mixin atMidLarge {
            font-size: 1.2rem;
            color: $darkBlue;
            max-width: 15rem;
        }

        @mixin atLarge {
            font-size: 1.5rem;
            color: $myOrange;
            text-shadow: 2px 2px $darkBlue;
            max-width: 20rem;
        }
    }

    &__btn {
        background-color: $myOrange;
        color: $darkBlue;
        font-family: 'Bangers', cursive;
        text-decoration: none;
        padding: .5rem .8rem;
        display: inline-block;
        border-radius: 50%;

        @mixin atMedium {
           
        }

        @mixin atMidLarge {
            font-size: 1.2rem;
        }

        @mixin atLarge {
            background-color: $brightBlue;
            font-size: 1.5rem;
        }
    }

    &__btn:hover {
        background-color: $darkBlue;
        color: $brightBlue;
    }
}

