.client-area {
    font-family: 'Bangers', cursive;
    color: $darkBlue;
    padding: 1.5rem;
    max-width: 50rem;
    margin-left: auto;
    margin-right: auto;

    &__form {
        display: flex;
    }

    &__input {
        flex: 1;
    }

    &__error {
        color: red;
    }

    &__btn {
        background-color: $myOrange;
        padding: .5rem;
    }
}